.page-notifications{

  ion-note {
    font-size: 15px;
    margin: auto;
  }

  ion-list-header {
  	font-size: 20px;
  	color: black;
    margin-bottom: 0px;
  }

  #due-time {
  	margin: auto;
  }

  img {
    margin: auto;
  }

}
